

.pm-prime2 {

     .header {
       	    background-image:url("../images/pm2.jpg");
       	    background-repeat:no-repeat;
       	    height: 1170px;
       	    background-size: 100%;
       	    
    .navbar {
		height: 100px;
		background-color: #055320;
		opacity: .5;
		
		h1 {
			color: white;
			font-size: 52px;
			font-family: 'Allerta', sans-serif;
			padding-top: 20px;
			margin-left: 60px;
          }
		.btn-group {
			text-align: center;
			margin-top: 22px;
			.btn1 {
				height: 50px;
				width: 140px;
				border: 0px;
				border-radius: 5px;
				font-size: 22px;
				margin-left: 10px;
				font-family: 'Allerta', sans-serif;
				color: white;
				background-color: #055500;
			}
			.btn2 {
				height: 50px;
				width: 140px;
				border: 0px;
				border-radius: 5px;
				font-size: 22px;
				margin-left: 10px;
				font-family: 'Allerta', sans-serif;
				color: white;
				background-color: #055320;
			}
			.btn3 {
				height: 50px;
				width: 140px;
				border: 3px solid white;
				border-radius: 5px;
				font-size: 22px;
				margin-left: 10px;
				font-family: 'Allerta', sans-serif;
				color: white;
				background-color: #055320;
			}
		}
	   }
	         h3 {
	         	font-size: 72px;
	         	color: white;
	         	margin-top: 250px;
	         	margin-left: 250px;
	         	font-family: 'Allerta', sans-serif;
	         	font-weight: normal;
	         }
	         .ver-line {
	         	height: 5px;
	         	width: 500px;
	         	background-color: white;
	         	margin-left: 570px;
	         	margin-top: 50px;
	         }
	         h4 {
	         	color: white;
	         	font-size: 32px;
	         	font-family: 'Allerta', sans-serif;
	         	font-weight: normal;
	         	margin-top: 45px;
	         	margin-left: 300px;
	         }
	       }

            .usage1 {
            	height: 700px;
            	width: 300px;
            	background-color: white; 
            	border-radius: 220px;
            	text-align: center;
            	margin-top: -420px;
            	margin-left: 110px;
            	border-bottom: 10px solid grey;

            	i {
            		font-size: 92px;
            		color: #022332;
            		margin-left: -110px;
            		margin-top: 120px;
            		}
            	h2 {
            		color: #022332;
            		font-size: 32px;
            		margin-top: 150px;
            	}
            	p {
            		font-size: 20px;
            		color: grey;
            		padding: 50px;
            	}
            }


            .body2 {
            	 background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(196,196,196,1) 52%,rgba(196,196,196,1) 52%);
       	         height: 1500px;
       	         text-align: center;
       	         margin-top: 160px;

       	         img {
       	         	width: 900px;
       	         	height: 400px;
       	         	margin-top: 60px;
       	         }
       	        .caption {
       	        	height: 180px;
       	        	background-color: #011725;
       	        	margin-top: -25px;
       	        h1 {
       	        	color: white;
       	        	font-family: 'Allerta', sans-serif;
       	        	font-size: 32px;
       	        	padding-top: 20px;
       	        }
       	        p {
       	        	color: white;
       	        	font-family: 'Roboto', sans-serif;
       	        	font-size: 22px;
       	        }
       	    }
       	        h1 {
       	        	padding-top: 200px;
       	        	color: #011725;
       	        	font-family: 'Allerta', sans-serif;
       	        	font-size: 32px;
       	        }
       	        .step1 {
       	        	height: 300px;
       	        	background-color: #c4c4c4;
       	        	border-radius: 20px;
       	        	margin-top: 50px;
       	        	width: 350px;
       	        	margin-left: 100px;
       	        	background-image:url("../images/comments.png");

       	        	 .dot1 {
       	        	 	height: 40px;
       	        	 	width: 40px;
       	        	 	border-radius: 7px;
       	        	 	background-color: #011725;
       	        	 	h2 {
       	        	 		color: white;
       	        	 	}
       	        	 }
       	        	 .btn5 {
       	        	 	margin-top: 270px;
       	        	 	margin-left: 90px;
       	        	 	height: 40px;
       	        	 	width: 170px;
       	        	 	border: 0px;
       	        	 	background-color: #011725;
       	        	 	color: white;
       	        	 	font-size: 22px;
       	        	 	border-radius: 7px;
       	        	 	font-family: 'Roboto', sans-serif;
       	        	 }
       	        }
            }

             .footer {
              	height: 200px;
              	 background-color: #011725;
              	margin-top: 0px;
            li {
       	    	font-size: 22px;
       	    	color: white;
       	    	margin-top:5px;
                }
       	    a {
       	    	font-size: 20px;
       	    	color: white;
       	    	font-family: 'Roboto', sans-serif;
            	font-weight: normal;
            	margin-top: 10px;
       	    }
       	    ul {
       	    	margin-top: 10px;
       	    	margin-left: 120px;
       	    }
       	    h2 {
       	    	color: white;
       	    	font-family: 'Allerta', sans-serif;
       	    	font-size: 50px;
       	    	margin-top: 70px;
       	    	margin-left: 25px;
       	    }
       	    h4 {
       	    	color: white;
       	    	margin-left: 235px;
       	    	font-family: 'Roboto', sans-serif;
       	    	 }
       	    img {
       	    	height: 70px;
       	    	width: 70px;
       	    	margin-left: 315px;
       	    	margin-top: -125px;
       	    }
       	    .ver-line {
       	    	width: 2px;
       	    	height: 200px;
       	    	border-left: 2px solid #00080d;
       	    	border-right: 2px solid #023657;
       	    	margin-top: -20px;
       	    }

        
              }


	
    .column {
       @include outer-container;
    }
    .column6 {
       @include span-columns(6);
    }

    .column4 {
       @include span-columns(4);
    }

    .column2 {
       @include span-columns(2);
    }

    .column8 {
       @include span-columns(8);
    }

    .column10 {
       @include span-columns(10);
    }

    .column3 {
       @include span-columns(3);
    }

    .column5 {
       @include span-columns(5);
    }

    .column1 {
       @include span-columns(1);
    }

    .column9 {
       @include span-columns(9);
    }

    .column7 {
       @include span-columns(7);
    }
}