<div class="footer">
			
				<div class="column">
					<h4></h4>
					<div class="column2">
     				<h4></h4>
                  <ul class="nav nav-list">
			<li class="nav-header">IDEUS</li>
			<li><a href="">Home</a></li>
			<li><a href="">Help</a></li>
			<li><a href="">Contact</a></li>
			<li><a href="">About </a></li>
			</ul>
     			</div>
     			<div class="column2">
     				<h4></h4>
     				 <ul class="nav nav-list">
			<li class="nav-header">COMUNITY</li>
			<li><a href="">Blog</a></li>
			<li><a href="">Twitter</a></li>
			<li><a href="">Facebook</a></li>
			<li><a href="">Google+</a></li>
			</ul>
     			</div>
     			<div class="column3">
     				<h4></h4>
     				 <ul class="nav nav-list">
			<li class="nav-header">MORE</li>
			<li><a href="">Site Status</a></li>
			<li><a href="">Privacy Policy</a></li>
			<li><a href="">Terms of Service</a></li>
			
			</ul>
     			</div>
     			<div class="column1">
     			<div class="ver-line">
     				<h4></h4>
     			</div>
     			</div>
     			<div class="column4">
     				<h2>PriceMeter</h2>
     				<h4>by Ideus</h4>
     				<img src="../images/ideus-logo.png" alt="">
     			</div>
				</div>


			</div>





			   .footer {
              	height: 200px;
              	 background-color: #011725;
              	margin-top: 0px;
              	

       	    li {
       	    	font-size: 22px;
       	    	color: white;
       	    	margin-top:5px;

       	    }
       	    a {
       	    	font-size: 20px;
       	    	color: white;
       	    	font-family: 'Roboto', sans-serif;
            	font-weight: normal;
            	margin-top: 10px;
       	    }
       	    ul {
       	    	margin-top: 10px;
       	    	margin-left: 120px;
       	    }
       	    h2 {
       	    	color: white;
       	    	font-family: 'Allerta', sans-serif;
       	    	font-size: 50px;
       	    	margin-top: 70px;
       	    	margin-left: 25px;
       	    }
       	    h4 {
       	    	color: white;
       	    	margin-left: 235px;
       	    	font-family: 'Roboto', sans-serif;
       	    	 }
       	    img {
       	    	height: 70px;
       	    	width: 70px;
       	    	margin-left: 315px;
       	    	margin-top: -125px;
       	    }
       	    .ver-line {
       	    	width: 2px;
       	    	height: 200px;
       	    	border-left: 2px solid #00080d;
       	    	border-right: 2px solid #023657;
       	    	margin-top: -20px;
       	    }

        
              }

