<div class="digitalocean">
<link href='http://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
	<div class="header">
		<h4></h4>
		<div class="column">
		<div class="column3">
			<img src="../images/dowhite.png" alt="">
		</div>
		<div class="column2">
			 <button class="btn1">WE'RE HIRING!</button>
		</div>
		<div class="column7">
			<div class="btn-group">
	            <button class="btn2">PRICING</button>
	            <button class="btn2">FEATURES</button>
	            <button class="btn2">COMMUNITY</button>
	             <button class="btn2">HELP</button>
	              <button class="btn3">LOG IN</button>
	               <button class="btn4">SIGN UP</button>
	        </div>
		</div>
       </div>
       <div class="headline">
       <h1>Simple cloud hosting, built for developers.</h1>
       </div>
       <div class="tagline">
       	<h2>Deploy an SSD cloud server in 55 seconds. <a href="">Learn more.</a></h2>
       </div>
         
         <div class="left-inner-addon5 ">
           <input type="text" class="form-control1" placeholder="Username" />
           </div>
            <div class="left-inner-addon6 ">
           <input type="text" class="form-control2" placeholder="Password" />
           </div>
		    <button class="btn5">CREATE ACCOUNT</button>
		</div>

		<div class="body1">
			<div class="column">
				<h1>Over <span>100.000 developers</span>  deploy to our cloud</h1>
			</div>
			<div class="column">
			<div class="column4">
				<div class="pic1">
                   <h4></h4>
				</div>
				<h2>Crafted With Love</h2>
					<h3>A fantastic user experience handcrafted by developers</h3>
					<a href="">View Future Tour</a>
			</div>
			<div class="column4">
				<div class="pic1">
					<h4></h4>
				</div>
				<h2>Crafted With Love</h2>
					<h3>A fantastic user experience handcrafted by developers</h3>
					<a href="">View Future Tour</a>
			</div>
			<div class="column4">
				<div class="pic1">
					<h4></h4>
				</div>
				<h2>Crafted With Love</h2>
					<h3>A fantastic user experience handcrafted by developers</h3>
					<a href="">View Future Tour</a>
			</div>
			</div>

		</div>

		<div class="body3">

			<div class="column">
			<h1>Developers Loves Us</h1>
				
				<div class="carousel slide" id="my-carousel">
			<ol class="carousel-indicators">
				<li data-target="#my-carousel" data-slide-to="0" class="active"></li>
				<li data-target="#my-carousel" data-slide-to="1"></li>
				<li data-target="#my-carousel" data-slide-to="2"></li>
				<li data-target="#my-carousel" data-slide-to="3"></li>
			</ol>
		
			<div class="carousel-inner">
				<div class="item active">
					
					<img src="../images/team.jpg" alt="" class="img-circle">
					<h2>"The speed and simplicity deploying my projects to DigitalOceans gratly encresed my productivity."</h2>
					<h3>John Resig</h3>
					
				</div>
				<div class="item">
					<img src="../images/flyer-small1.png" alt="Demo" />
				</div>
				<div class="item">
					<img src="../images/team.jpg" alt="">
				</div>
				<div class="item">
					<img src="../images/flyer-small1.png" alt="Demo" />
				</div>
			</div>
			
			<a href="#my-carousel" class="carousel-control left" data-slide="prev">&lsaquo;</a>
			<a href="#my-carousel" class="carousel-control right" data-slide="next">&rsaquo;</a>
		</div>
			</div>
		</div>

		<div class="body4">
			<h2>AS SEEN ON</h2>
			<div class="column3">
			<img src="../images/wsj_logo.png" alt="">
			</div>
			<div class="column3">
			<img src="../images/mashable.png" alt="">
			</div>
			<div class="column3">
			<img src="../images/venture.png" alt="">
			</div>
			<div class="column3">
			<img src="../images/forbes.png" alt="">
			</div>
		</div>

		<div class="body5">
			<div class="column">
				<h1>Deploy an SSD cluod server in 55 second.</h1>
				<h3>Sign Up for DigitalOcean today.</h3>
				 <button class="btn10">GET STARTED NOW <i class="icon-chevron-right icon-large"></i> </button>
			</div>
		</div>

		<div class="footer">
			<div class="column">
				<h4></h4>
			</div>
		</div>

</div>