<div class="expense-manager">
<link href='http://fonts.googleapis.com/css?family=Exo:700' rel='stylesheet' type='text/css'>
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto">

  <div class="column">
    <div class="page">
      
      <div class="navbar">
         <div class="column">
           <div class="column1">
             <img src="../images/ideus-logo.png" alt="">
           </div>
           <div class="column3">
             <h1> IDEUS</h1>
  	       </div>
  	       <div class="column2">
  	       	  <h4></h4>
  	       </div>
  	       <div class="column6">
  	       	 <div class="btn-group1">
	           <button class="btn1">HOME</button>
	           <button class="btn1">ABOUT</button>
	           <button class="btn1">TEAM</button>
	           <button class="btn1">SIGN UP</button>
	           <button class="btn2">LOG IN</button>
	         </div>
  	       </div>
  </div>
	<h4></h4>
   </div>

    <div class="headline">
      <div class="column">
    	<button class="btn-big">EXPENSE  MANAGER</button>
    	<button class="btn-big2">Best way to keep track about your income and spending day by day</button>
    	<button class="btn-begin">BEGIN</button>
    	</div>
    </div>



</div>
</div>

     <div class="about">
     	<div class="column">
     	  <h2>About Expense Manager</h2>
     	  <h3>Expense management automation has two equally important aspects the process an employee follows in order to complete an expense claim for example logging a hotel receipt or submitting mobile phone records and the activity accounts or finance staff undertake to process the claim within the finance system.</h3>
     		<img src="../images/em2.png" alt="">
     	</div>
     </div>	


     <div class="column">
     <div class="charts">
     <div class="column4">
     <div class="picture">
     	<h4></h4>
     </div>
     	
     		<h4></h4>
     		</div>
     		<div class="column6">
     			<h2>Make sure you dont waste your money</h2>
     			<h3>Expense management automation has two equally important aspects - the process an employee follows in order to complete an expense claim for example logging a hotel receipt or submitting mobile phone records and the activity accounts or finance staff undertake to process the claim within the finance system. Expense management automation has two equally important aspects - the process an employee. </h3>
     		</div>
     	</div>
     </div>

     <div class="wallet">
     	<div class="column">
     	<div class="column1">
     	<h4></h4>
     	</div>
     		<div class="column5">
     			<h2> Your own virtual Wallet</h2>
     			<h3>Expense management automation has two equally important aspects - the process an employee follows in order to complete an expense claim for example logging a hotel receipt or submitting mobile phone records and the activity accounts or finance staff undertake</h3>
     		</div>
     		<div class="column6">
     			<img src="../images/wallet.png" alt="">
     		</div>
     	</div>
     </div>

     
     	<div class="column">
     		 <div class="footer">
            <div class="column2">
            	<h3>Ideus</h3>
            	<h4>Home</h4>
            	<h4>Help</h4>
            	<h4>Contact</h4>
            	<h4>About Us</h4>
            	
            </div>
            <div class="column2">
            	<h3>Comunity</h3>
            	<h4>Blog</h4>
            	<h4>Twitter</h4>
            	<h4>Facebook</h4>
            	<h4>G+</h4>
            	
            </div>
            <div class="column3">
            	<h3>More</h3>
            	<h4>Site Status</h4>
            	<h4>Privacy Policy</h4>
            	<h4>API Docs</h4>
            	<h4>Terms of Service</h4>
            	
            </div>
     		 <div class="column4">
     		 	<h2>Expense Manager</h2>

     		 </div>
     	</div>
     </div>
</div>