<div class="ideus">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto">

	
	<div class="btn-group">
	 <button class="btn1">OUR WORK</button>
	  <button class="btn1">OUR TEAM</button>
	   <button class="btn1">OUR OFFICE</button>
	    <button class="btn1">HIRE US</button>
	   </div>
			
	<div class="hedline">
		<h1>IDEUS</h1>
	</div>	

	<div class="logo">
		<img src="../images/ideus-logo.png" alt="">
	</div>

	<div class="tagline">
		<h2></h2>
	</div>

	<div class="products">
	<div class="btn-group2">
	 <button class="btn2">EXPENCE MANAGER</button>
	  <button class="btn2">PRODUCT PEDIA</button>
	   <button class="btn2">PRICE METER</button>
	   </div>
		<h4></h4>
		<div class="pic1">
			<img src="../images/em.jpeg" alt="">
		</div>
		<div class="pic2">
			<img src="../images/pp.png" alt="">
		</div>
		<div class="pic3">
			<img src="../images/pm.jpg" alt="">
		</div>

		 <div class="column">
    <div class="column2">
       <h4></h4>
       </div>
    <div class="column8">
	<div class="our-work">
		<h1>OUR WORK</h1>
		<h3>We are a team of designers and developers. Clients hire us to solve problems for people. So, we interview potential customers. We sketch. We prototype. We make and ship working software. We measure use of the software. We've had the honor of working with organizations such as Yammer, Constant Contact, Iora Health, and America's Test Kitchen. See some examples above.</h3>
	</div>
	</div>
	</div>
	</div>

	
	

    <div class="team">
	<div class="column">
		<div class="column6">
		  <img src="../images/team.jpg" alt="">
		  <h2>Carl Heatton</h2>
		  <h3>Founder and Instructor</h3>
		  <a href="">carl.heatton@ideus.me</a>
		  <h4>My job is to answer any qustion you have about WCB and our courses. I make sure youre get the right course for you.</h4>
		</div>
		<div class="column6">
		<img src="../images/team.jpg" alt="">
		  <h2>Carl Heatton</h2>
		  <h3>Founder and Instructor</h3>
		  <a href="">carl.heatton@ideus.me</a>
		  <h4>My job is to answer any qustion you have about WCB and our courses. I make sure youre get the right course for you.</h4>
		</div>
	</div>
	<div class="column">
		<div class="column6">
		   <img src="../images/team.jpg" alt="">
		  <h2>Carl Heatton</h2>
		  <h3>Founder and Instructor</h3>
		  <a href="">carl.heatton@ideus.me</a>	
		  <h4>My job is to answer any qustion you have about WCB and our courses. I make sure youre get the right course for you.</h4>
		</div>
		<div class="column6">
		   <img src="../images/team.jpg" alt="">
		  <h2>Carl Heatton</h2>
		  <h3>Founder and Instructor</h3>
		  <a href="">carl.heatton@ideus.me</a>	
		  <h4>My job is to answer any qustion you have about WCB and our courses. I make sure youre get the right course for you.</h4>
		</div>
	</div>
	<div class="column">
		<div class="column6">
		   <img src="../images/team.jpg" alt="">
		  <h2>Carl Heatton</h2>
		  <h3>Founder and Instructor</h3>
		  <a href="">carl.heatton@ideus.me</a>	
		  <h4>My job is to answer any qustion you have about WCB and our courses. I make sure youre get the right course for you.</h4>
		</div>
		<div class="column6">
		   <img src="../images/team.jpg" alt="">
		  <h2>Carl Heatton</h2>
		  <h3>Founder and Instructor</h3>
		  <a href="">carl.heatton@ideus.me</a>	
		  <h4>My job is to answer any qustion you have about WCB and our courses. I make sure youre get the right course for you.</h4>
		</div>
	</div>

	<h1> IDEUS TEAM</h1>
	</div>

	<div class="footer">
	<img src="../images/ideus-logo.png" alt="">
	<div class="map">
	<img src="../images/map.gif" alt="">
	</div>
		<h3>MONTENEGRO</h3>
		<h3>Njegoseva 11 , Podgorica</h3>
		<h3>hello@ideus.me</h3>
		<h3>+1(670)587963258</h3>
	</div>

	


    


	
</div>