<div class="ideus">
	
	<div class="btn-group">
	 <button class="btn1">OUR WORK</button>
	  <button class="btn1">OUR TEAM</button>
	   <button class="btn1">OUR OFFICE</button>
	    <button class="btn1">HIRE US</button>
	   </div>
			
	<div class="hedline">
		<h1>IDEUS</h1>
	</div>	

	<div class="logo">
		<img src="../images/ideus-logo.png" alt="">
	</div>

	<div class="tagline">
		<h2>WE BUILD GREAT PRODUCTS</h2>
	</div>

	<div class="footer">
	<div class="btn-group2">
	 <button class="btn2">EXPENCE MANAGER</button>
	  <button class="btn2">PRODUCT PEDIA</button>
	   <button class="btn2">PRICE METER</button>
	   </div>
		<h4></h4>
		<div class="pic1">
			<img src="../images/em.jpeg" alt="">
		</div>
		<div class="pic2">
			<img src="../images/pp.png" alt="">
		</div>
	</div>
	
</div>