<div class="pm-prime2">
    <link href='http://fonts.googleapis.com/css?family=Nova+Square|Allerta' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
	  <div class="column">
		<div class="header">
		<div class="navbar-top">
	      <h1>PriceMeter</h1>
	      <img src="../images/ideus-logo.png" alt="">
	      <h2>IDEUS</h2>
        </div>
        <div class="navbar">
        	<div class="btn-group">
	            <button class="btn1">HOME</button>
	            <button class="btn2">FEATURES</button>
	            <button class="btn2">ABOUT</button>
	            <button class="btn2">LOG IN</button>
	            <button class="btn3">REGISTER</button>
	        </div>
        </div>
          <h3>Wee are your budget consultant</h3>
          <div class="ver-line">
          	<h4></h4>
          </div>
          <h4>In marketing, a product is anything that can be offered to a market.</h4>
		
			
		</div>


		<div class="column">
			<div class="column4">
				<div class="usage1">
					<i class="icon-edit icon-large"></i>
					<h2>Create a List</h2>
					<p>In marketing, a product is anything that can be offered to a market that might satisfy a want or need.In retailing, products are called merchandise.</p>
				</div>
			</div>
			<div class="column4">
				<div class="usage1">
				<i class="icon-comments icon-large"></i>
					<h2>Top Deals</h2>
					<p>In marketing, a product is anything that can be offered to a market that might satisfy a want or need.In retailing, products are called merchandise.</p>
				</div>
			</div>
			<div class="column4">
				<div class="usage1">
				<i class="icon-barcode icon-large"></i>
					<h2>Search</h2>
					<p>In marketing, a product is anything that can be offered to a market that might satisfy a want or need.In retailing, products are called merchandise.</p>
				</div>
			</div>
		</div>

		<div class="body2">
			<h1>How you can use PriceMeter</h1>
			  <div class="paraf">
			    <div class="column">
			      <div class="column3">
				     <h4></h4>
			      </div>
			      <div class="column6">
			        <p>In marketing, a product is anything that can be offered to a market that might satisfy a want or need.In retailing, products are called merchandise. In marketing, a product is anything that can be offered to a market that might satisfy a want or need. In retaili.</p>
			        <button class="btn">START HERE</button>
			      </div>
			   </div>
			</div>
		</div>

		<div class="body3">
			<div class="column">
				<div class="column4">
					<div class="dot1">
						<h4>1</h4>
					</div>
					<h2>Create your product list</h2>
				</div>
				<div class="column4">
					<div class="dot1">
						<h4>2</h4>
					</div>
					<h2>Create your budget</h2>
				</div>
				<div class="column4">
					<div class="dot1">
						<h4>3</h4>
					</div>
					<h2>Follow the prices</h2>
				</div>
			</div>
			</div>



		<div class="body4">
			<div class="column">
				<div class="column4">
					<div class="dot1">
						<h4>4</h4>
					</div>
					<h2>Create your product list</h2>
				</div>
				<div class="column4">
					<div class="dot1">
						<h4>5</h4>
					</div>
					<h2>Create your budget</h2>
				</div>
				<div class="column4">
					<div class="dot1">
						<h4>6</h4>
					</div>
					<h2>Follow the prices</h2>
				</div>
			</div>
			</div>


			<div class="footer">
				<div class="column">
					<h4></h4>
					<div class="column2">
     				<h4></h4>
                  <ul class="nav nav-list">
			<li class="nav-header">IDEUS</li>
			<li><a href="">Home</a></li>
			<li><a href="">Help</a></li>
			<li><a href="">Contact</a></li>
			<li><a href="">About </a></li>
			</ul>
     			</div>
     			<div class="column2">
     				<h4></h4>
     				 <ul class="nav nav-list">
			<li class="nav-header">COMUNITY</li>
			<li><a href="">Blog</a></li>
			<li><a href="">Twitter</a></li>
			<li><a href="">Facebook</a></li>
			<li><a href="">Google+</a></li>
			</ul>
     			</div>
     			<div class="column3">
     				<h4></h4>
     				 <ul class="nav nav-list">
			<li class="nav-header">MORE</li>
			<li><a href="">Site Status</a></li>
			<li><a href="">Privacy Policy</a></li>
			<li><a href="">Terms of Service</a></li>
			
			</ul>
     			</div>
     			<div class="column5">
     				<h2>PriceMeter</h2>
     				<h4>by Ideus</h4>
     				<img src="../images/ideus-logo.png" alt="">
     			</div>
				</div>
			</div>



	</div>
</div>