
<div class="pm-prime">
<link href='http://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css">
<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap-theme.min.css">
<script type="text/javascript" src="http://code.jquery.com/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
<style type="text/css"></style>

	<div class="header">
	   <div class="navbar">
	   <div class="column2">
	   	<h4></h4>
	   </div>
	   <div class="column3">
	   		<div class="btn-group">
	            <button class="btn1">FEATURES</button>
	            <button class="btn1">REGISTER</button>
	            </div>
	        </div>
	   <div class="column2">
	   	<img src="../images/ideus-logo.png" alt="">
	   	<h1>IDEUS</h1>
	   </div>
	   <div class="column3">
	   	<div class="btn-group2">
	           <button class="btn1">SIGN UP</button>
	            <button class="btn2">LOG IN</button>
	        </div>
	   </div>
	   <div class="column2">
	   	<h4></h4>
	   </div>
	   </div>



	   
	   	<div class="main-part">
	   	
	   	<div class="column9">
	   		<h4></h4>
	   		<div class="headline1">
	   			<h1>PRICE METER</h1>
	   		</div>
	   	</div>
	   	<div class="column3">
	   		<h4></h4>
	   	</div>
	   	</div>

	   <div class="tagline">
	   	  <h4></h4>
	   	  <div class="column3">
	   	  	<h4></h4>
	   	  </div>
	   	  <div class="column9">
	   	  <div class="tagline2">
	   	  	<h2>Place where you can find a right price for you</h2>
	   	  </div>
	   	  	<h4></h4>
	   	  </div>
	   </div>
     </div>

    <div class="scroll">
	 <i class="icon-circle-arrow-down icon-large"></i>
	 	</div>




	 	<div class="bs-example">
    <div id="myCarousel" class="carousel slide" data-interval="3000" data-ride="carousel">
    	
       <!-- Carousel items -->
        <div class="carousel-inner">
            <div class="active item">
                <h2>Make your own list of your favorite products</h2>
                <img src="../images/product-list.png" alt="">
                <div class="carousel-caption">
                  <h3>Create a list</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <div class="item">
                <h2>Find a best price for you</h2>
                <img src="../images/leaflet.png" alt="">
                <div class="carousel-caption">
                  <h3>Best Shopping</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
            </div>
            <div class="item">
                <h2>Find a largest discount in your town</h2>
                <img src="../images/discount.png" alt="">
                <div class="carousel-caption">
                  <h3>Third slide label</h3>
                  <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
                </div>
            </div>
        </div>
      </div>

      <div class="body2">
      	<div class="column">
      		<h4></h4>
      	</div>
      </div>
      

     


   



	
	

</div>