<div class="pp-prime">
	<link href='http://fonts.googleapis.com/css?family=Nova+Square' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Nova+Square|Allerta' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
     <div class="column">
        <div class="header">
     	<h4></h4>
     	<div class="column">
     	<div class="column1">
     		<h4></h4>
     	</div>
     	<div class="column3">
     		<img src="../images/ideus-logo.png" alt="">
     		<h1>IDEUS</h1>
     	</div>
     	<div class="column2">
     		<h4></h4>
     	</div>
     	<div class="column6">
     		<div class="btn-group">
	            <button class="btn1">FEATURES</button>
	            <button class="btn1">REGISTER</button>
	            <button class="btn2">LOG IN</button>
	        </div>
     	</div>
       </div>
       <div class="column">
       <div class="headline">
     <h2>ProductPedia</h2>
     </div>
     <div class="tagline">
     	<h3>Make your own list of favorites products you use every day</h3>
     </div>
     <div class="options">
     <button class="btn2"><i class="icon-barcode icon-large"></i>  Search Products by Barcode</button>
     </div>
     <div class="options2">
     <button class="btn2"><i class="icon-shopping-cart icon-large"></i>  Find a best price</button>
     </div>
     <div class="options3">
     <button class="btn2"><i class="icon-comment icon-large"></i>  Comment your favorite products</button>
     </div>
     <div class="options4">
     <button class="btn2"><i class="icon-certificate icon-large"></i>  Be carefull what you eat</button>
     </div>
       <button class="btn3">Start Here</button>
     
     </div>
     </div>
     
     </div>

     <div class="column">
     	<div class="body1">
     		<h1>About ProductPedia</h1>
     		<div class="horline">
     		<h4></h4>
     	</div>
     	<div class="text">
     		<p>In marketing, a product is anything that can be offered to a market that might satisfy a want or need.In retailing, products are called merchandise. In manufacturing, products are bought as raw materials and sold as finished goods. Commodities are usually raw materials such as metals and agricultural products, but a commodity can also be anything widely available in the open market.</p>
     	</div>
     	<button class="btn4">Read More</button>
     	</div>
     	</div>

     	<div class="column">
     		<div class="body2">
     			<h4></h4>
     			<div class="column6">
     			<h2>Top Prices</h2>
     			<p>In marketing, a product is anything that can be offered to a market that might satisfy a want or need.In retailing, products are called merchandise.</p>
     				<h4></h4>
     				<div class="small-pics">
                   <img src="../images/flyer-small1.png" alt="">
                   <img src="../images/flyer-small2.png" alt="">
                   <img src="../images/flyer-small3.png" alt="">
                   </div>
                   <a href="">View</a>
                   <a href="">View</a>
                   <a href="">View</a>
     			</div>
     			<div class="column6">
     			<img src="../images/leaflet.png" alt="">
     				<h4></h4>
     			</div>
     		</div>
     	</div>

     	<div class="column">
     		<div class="body3">
     			<h4></h4>
     			<img src="../images/product-list.png" alt="">
     		</div>
     	</div>
</div>