
<div class="price-meter">
<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto">
<link href='http://fonts.googleapis.com/css?family=Exo:300' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Squada+One|Titillium+Web' rel='stylesheet' type='text/css'>
<div class="column">
<div class="heder">
<div class="btn-group">
	 <button class="btn1">FEATURES</button>
	  <button class="btn1">REGISTER</button>
	   <button class="btn2">LOG IN</button>
	    </div>

	   <div class="header-img">
	   	<img src="../images/euro5.png" alt="">
	   </div>
	    <div class="header-img2">
	   	<img src="../images/meter.png" alt="">
	   </div>

	    <div class="headline">
	    	<h1>PriceMeter</h1>
	    	
	    </div>
	   
</div>
</div>
   <div class="price-list">
    <div class="column">
    	<div class="column1">
    		<h4></h4>
    	</div>
    	<div class="column10">
    	<div class="column8">
    	<h2>Make your own list of favorites products</h2>
    	<h3>The development of web shop systems took place right after the Internet became a mass medium. This was a result of the launch of the browser Mosaic in 1993 and Netscape in 1994. It created an environment in which web shops were possible. The Internet therefore acted as the key infrastructure developments that contributed to the rapid diffusion of the e-commerce, a subset of e-business that describes all computer-aided business transactions. </h3>
    		</div>
    		<div class="column4">
    			<img src="../images/fav-product.jpg" class="img-circle" alt="">
    		</div>
    	</div>
       </div>
    </div>

    <div class="cart">
    	<div class="column">
    		<div class="column1">
    			<h4></h4>
    		</div>
    		<div class="column3">
    			<h2>Fill your bag</h2>
    			<h3>The development of web shop systems took place right after the Internet became a mass medium. This was a result of the launch of the browser Mosaic in 1993 and Netscape in 1994 </h3>
    		</div>
    		<div class="column4">
    			<img src="../images/cart.png" alt="">
    		</div>
    		<div class="column3">
    			<button class="big-btn">START HERE</button>
    				
    			</div>
    		</div>
    	</div>
    <div class="flyer">
    	<div class="column">
    		<div class="column1">
    			<h4></h4>
    		</div>
    		<div class="column10">
    			<div class="column5">
    				<img src="../images/leaflet.png" alt="">
    			</div>
    			<div class="column6">
    				<h2>Discounts from your favorites stores</h2>
    				<h4>The development of web shop systems took place right after the Internet became a mass medium. This was a result of the launch of the browser Mosaic in 1993 and Netscape in 1994 </h4>
    				<div class="btn-group2">
	                  <button class="btn10">VOLI</button>
	                  <button class="btn10">RODA</button>
	                  <button class="btn10">HD LAKOVIC</button>
	               </div>
	               <div class="btn-group3">
	                  <button class="btn10">NAS DISKONT</button>
	                  <button class="btn10">MERCATOR</button>
	                  <button class="btn10">ALBONA</button>
	               </div>
    			</div>
    		</div>
    	</div>
    </div>

    <div class="footer">
    	<div class="column">
    		<div class="column1">
    			<h4></h4>
    		</div>
    		<div class="column10">
    		<div class="column3">
    			<img src="../images/cart2.png" alt="">
    		</div>
    		<div class="column5">
    			<h2>PriceMeter</h2>
    				
    		</div>
    		<div class="column4">
    			<img src="../images/bag2.png" alt="">
    		</div>
    			<h4></h4>
    			</div>
    		</div>
    </div>



</div>