<div class="product-pedia">
	<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Roboto">

	<div class="header">
	<div class="btn-group">
	 <button class="btn1">REGISTER</button>
	  <button class="btn1">LOG IN</button>

	   </div>
	   <div class="headline">
	   	 <button class="btn1">ProductPedia</button>
	     <button class="btn2">Best place to follow and share info about your favorite products</button>

	   </div>
	   <div class="startbtn">
	    <button class="btn3">GET STARTED</button>
	    </div>
	    </div>
       <div class="discount">
       <div class="column">
       <div class="column2"><h4></h4></div>
       <div class="column4">
	    <img src="../images/flyer.jpg" alt="">
	    </div>
	    <div class="column4">
	    <div class="flyer-text">
	    <h2>Find out where is the lowest price</h2>
	    <h4>In many financial transactions, it is customary to quote prices in other ways. The most obvious example is in pricing a loan, when the cost will be expressed as the percentage rate of interest. The total amount of interest payable depends upon credit risk, the loan amount and the period of the loan. 
        </h4>
         <button class="btn4">BEGIN</button>
	    </div>	
	    </div>
	    </div>
	    </div>

	    <div class="nutrition">
	    	<div class="column">
	    	<div class="column2"><h4></h4></div>
	    	 <div class="column4">
	    <div class="flyer-text">
	    <h2>Follow how much calories you eat</h2>
	    <h4>In many financial transactions, it is customary to quote prices in other ways. The most obvious example is in pricing a loan, when the cost will be expressed as the percentage rate of interest. The total amount of interest payable depends upon credit risk, the loan amount and the period of the loan. 
        </h4>
         <button class="btn4">BEGIN</button>
	    </div>	
	    </div>
	    		<div class="column4">
	    			<img src="../images/nutri.gif" alt="">
	    		</div>
	    	</div>
	    </div>

	    <div class="favorites">
	    	 <div class="column">
       <div class="column2"><h4></h4></div>
       <div class="column4">
	    <img src="../images/favorit.png" alt="">
	    </div>
	    <div class="column4">
	    <div class="flyer-text">
	    <h2>Make a group of your favirites products</h2>
	    <h4>In many financial transactions, it is customary to quote prices in other ways. The most obvious example is in pricing a loan, when the cost will be expressed as the percentage rate of interest. The total amount of interest payable depends upon credit risk, the loan amount and the period of the loan. 
        </h4>
         <button class="btn4">BEGIN</button>
	    </div>	
	    </div>
	    </div>
	    </div>

	     <div class="nutrition">
	    	<div class="column">
	    	<div class="column2"><h4></h4></div>
	    	 <div class="column4">
	    <div class="flyer-text">
	    <h2>Follow how much calories you eat</h2>
	    <h4>In many financial transactions, it is customary to quote prices in other ways. The most obvious example is in pricing a loan, when the cost will be expressed as the percentage rate of interest. The total amount of interest payable depends upon credit risk, the loan amount and the period of the loan. 
        </h4>
         <button class="btn4">BEGIN</button>
	    </div>	
	    </div>
	    		<div class="column4">
	    			<img src="../images/doc.jpg" alt="">
	    		</div>
	    	</div>
	    </div>


         <div class="column">
         <div class="column2"><h4></h4></div>
         <div class="column8">
	     <div class="accordion" id="my-accordion">
			<div class="accordion-group">
				<div class="accordion-heading">
					<a href="#collapse-1" data-toggle="collapse" data-parent="#my-accordion" class="accordion-toggle">Michael</a>
				</div>
				<div class="accordion-body collapse in" id="collapse-1">
					<div class="accordion-inner">
						In marketing, a product is anything that can be offered to a market that might satisfy a want or need.[1] In retailing, products are called merchandise. In manufacturing, products are bought as raw materials and sold as finished goods. Commodities are usually raw materials such as metals and agricultural products, but a commodity can also be anything widely available in the open market. 
					</div>
				</div>
			</div>
        
			<div class="accordion-group">
				<div class="accordion-heading">
					<a href="#collapse-2" data-toggle="collapse" data-parent="#my-accordion" class="accordion-toggle">Rebbeca</a>
				</div>
				<div class="accordion-body collapse" id="collapse-2">
					<div class="accordion-inner">
						In marketing, a product is anything that can be offered to a market that might satisfy a want or need.[1] In retailing, products are called merchandise. In manufacturing, products are bought as raw materials and sold as finished goods. Commodities are usually raw materials such as metals and agricultural products, but a commodity can also be anything widely available in the open market also be anything widely available in the open market also be anything widely available in the open market.
					</div>
				</div>
			</div>

			<div class="accordion-group">
				<div class="accordion-heading">
					<a href="#collapse-3" data-toggle="collapse" data-parent="#my-accordion" class="accordion-toggle">Helga</a>
				</div>
				<div class="accordion-body collapse" id="collapse-3">
					<div class="accordion-inner">
						Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas.
					</div>
				</div>
			</div>
		</div></div></div>

		 <button class="btn5">YOUR COMMENT</button>

		 <div class="footer">
		 	<h2>ProductPedia</h2>
		 	<div class="btn-group">
		 	 <button class="footer-btn">  Facebook  <i class="icon-facebook icon-large"></i></button>	
		 	  <button class="footer-btn">  Twitter  <i class="icon-twitter icon-large"></i></button>	
		 	   <button class="footer-btn">  Skype  <i class="icon-skype icon-large"></i></button>	
			    </div>
		 </div>
		
</div>